@{
  ViewData["Title"] = "Velkommen til backstage";
}

<section class="text-center py-16 bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900 text-gray-100">
  <h1 class="text-5xl font-extrabold mb-6 tracking-tight">Velkommen til <span class="text-indigo-400">BACKSTAGE</span>
  </h1>
  <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-10">
    Dette er et område som beviser at din innlogging er korrekt utført og at du har kommet deg inn bakstage!
  </p>
  <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-10">
    Du ser nå at det står logg ut oppe i høyre hjørne :)
  </p>


</section>