@{
    ViewData["Title"] = "Home Page";
}

<div class="min-h-screen flex flex-col items-center justify-center bg-gray-500 text-white">
    <h1 class="text-4xl font-bold mb-4">🎸 BandApp</h1>
    <p class="text-lg text-amber-600">En app for alle gjøremål</p>
</div>